#main-visual li {
  position: relative;
}
#main-visual li.visual01 .img {
  background-image: url("../images/main/mv_01.jpg");
}
#main-visual li.visual02 .img {
  background-image: url("../images/main/mv_02.jpg");
}
#main-visual li.swiper-slide-active .img {
  transform: scale(1);
}
#main-visual li .img {
  height: 100vh;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  transform: scale(1.2);
  transition: all 5s ease;
  transition-delay: 0.5s;
}
#main-visual li .txt {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 24px;
  color: #fff;
  z-index: 2;
  transform: translate(-50%, -50%);
  text-align: center;
}
#main-visual li .txt strong {
  font-weight: 700;
  font-size: 60px;
  margin-top: 30px;
  display: block;
}

.section .title-box {
  margin-bottom: 50px;
}
.section .title-box h2 {
  font-size: 20px;
  color: #0e9447;
  font-weight: 500;
}
.section .title-box p {
  font-size: 36px;
  font-weight: 500;
  margin-top: 30px;
  line-height: 1.25;
}

#business .container {
  position: relative;
}
#business ul {
  display: flex;
  justify-content: space-between;
}
#business ul li:nth-last-child(1) {
  margin-top: -50px;
}
#business ul li img {
  border-radius: 20px;
}
#business ul li .txt {
  margin-top: 40px;
}
#business ul li .txt h3 {
  font-size: 24px;
  font-weight: 500;
}
#business ul li .txt p {
  font-size: 18px;
  margin-top: 20px;
}
#business .circle-txt {
  font-size: 36px;
  font-weight: 500;
  letter-spacing: 0.5em;
  text-transform: uppercase;
  position: absolute;
  right: 30px;
  top: 0;
  color: #ccc;
  animation: circle-ani 20s linear infinite;
}

@keyframes circle-ani {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-360deg);
  }
}