//디자인 가이드

@import "vars";
@import "mixins";

#main-visual {
  //height: 100vh;
  overflow: hidden;
  .mask {
    overflow: hidden;
  }
  li {
    position: relative;
    &.visual01 .img {
      background-image: url("../images/main/mv_01.jpg");
    }
    &.visual02 .img {
      background-image: url("../images/main/mv_02.jpg");
    }
    &.swiper-slide-active {
      .img {
        transform: scale(1);
      }
    }
    .img {
      height: 100vh;
      transform: scale(1.2);
      background-position: 50%;
      background-repeat: no-repeat;
      background-size: cover;
      transition: all 5s ease;
      transition-delay: 0.5s;
    }
    .txt {
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 2;
      font-size: $h3;
      text-align: center;
      color: #fff;
      //width: 100%;
      //transform: translateX(-50%) translateY(-50%);
      //transform: translateY(-50%);
      transform: translate(-50%, -50%);
      strong {
        display: block;
        margin-top: 30px;
        font-size: $h1 * 1.25;
        font-weight: 700;
      }
    }
  }
}
.section {
  // height: 100vh;
  // display: flex;
  // align-items: center;
  .title-box {
    margin-bottom: 50px;
    h2 {
      font-size: $h4;
      font-weight: 500;
      color: $main-color;
    }
    p {
      margin-top: 30px;
      font-size: $h2;
      font-weight: 500;
      line-height: 1.25;
    }
  }
}
#business {
  overflow: hidden;
  .container {
    position: relative;
  }
  ul {
    display: flex;
    justify-content: space-between;
    li {
      &:nth-last-child(1) {
        margin-top: -50px;
      }
      img {
        border-radius: 20px;
      }
      .txt {
        margin-top: 40px;
        h3 {
          font-size: $h3;
          font-weight: 500;
        }
        p {
          margin-top: 20px;
          font-size: 18px;
        }
      }
    }
  }
  .circle-txt {
    position: absolute;
    top: 0;
    right: 80px;
    font-size: $h2;
    font-weight: 500;
    color: #ccc;
    letter-spacing: 0.5em;
    text-transform: uppercase;
    //text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
    animation: circle-ani 20s linear infinite;
  }
}
#product {
  .title-box {
    p {
      font-size: $h4;
    }
    strong {
      display: block;
      margin-top: 50px;
      font-size: $h2;
      font-weight: 700;
    }
    a {
      text-transform: uppercase;
      display: block;
      font-size: $h4;
      font-weight: 500;
      margin-top: 50px;
      &:after {
        content: "\f061";
        font-family: "FontAwesome";
        margin-left: 30px;
      }
    }
  }
}

@keyframes circle-ani {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-360deg);
  }
}
